#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh; 
}

main {
  width: 40vw;
  height: 60vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  
  background-color: #e5e5e5;
}

h1 { 
  font-size: 2em;
}

input, select, option {
  width: 80%;
  margin: 0 0 1em;
  background-color: #D9D9D9;
  color: #000000
  border: ;
}